<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsw.testmodel">
    <!--网络请求-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--文件读写-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".common.CustomAPL"
        android:theme="@style/DemoAppTheme">


        <activity android:name=".ui.act.LoginAct" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.act.MainAct" >
        </activity>
        <activity android:name=".ui.act.SlidingMenuAct" />
        <activity android:name=".ui.act.BottomNavigationAct" />
        <activity android:name=".ui.act.SlidingMenuAct2" />
        <activity android:name=".ui.act.UseRxJavaAct" />
        <activity android:name=".ui.act.UseRecyclerViewAct" />
        <activity android:name=".ui.act.HttpTestAct" />
        <activity android:name=".ui.act.customview.CustomView1Act"/>
        <activity android:name=".ui.act.StretchListViewAct"></activity>
        <activity android:name=".ui.act.mvp.view.MVPSimpleAct"></activity>
    </application>

</manifest>