<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsw.testmodel">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DemoAppTheme">


        <activity android:name=".ui.act.LoginAct" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.act.MainAct" >
        </activity>
        <activity android:name=".ui.act.SlidingMenuAct" />
        <activity android:name=".ui.act.AbFragmentGroupAct" />
        <activity android:name=".ui.act.SlidingMenuAct2" />

    </application>

</manifest>